name: Base images for openpipelines-bio

on:
  schedule:
    # build daily
    - cron: '0 0 * * *'
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    
    strategy:
      fail-fast: false
      matrix:
        config:
          - { image: 'base-python-3.10', version: 'v1.0.0', moretags: ',ghcr.io/openpipelines-bio/base-python-3.10:v1,ghcr.io/openpipelines-bio/base-python-3.10:latest' }
          - { image: 'base-r2u-22.04', version: 'v1.0.0', moretags: ',ghcr.io/openpipelines-bio/base-r2u-22.04:v1,ghcr.io/openpipelines-bio/base-r2u-22.04:latest' }
    
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GTHB_PAT }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: GITHUB_PAT=${{ secrets.GTHB_PAT }}
          tags: ghcr.io/openpipelines-bio/${{ matrix.config.image }}:${{ matrix.config.version }}${{ matrix.config.moretags }}
          file: ${{ matrix.config.image }}/${{ matrix.config.version }}.Dockerfile
          push: true
